<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
    <div
      class="position-relative row w-100 h-100 bg-gredient justify-content-center"
    >
      <div class="col-lg-4 d-flex align-items-center">
        <mat-card class="cardWithShadow boxed-auth">
          <mat-card-content class="p-32">
            <div class="text-center">
            </div>
  
            
  
  
            <form class="m-t-30"  [formGroup]="blocForm" (ngSubmit)="onSubmit()">
              
              
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >nom du Bloc</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="nom du bloc" formControlName="nomBloc" />
                <mat-error *ngIf="blocForm.get('nomBloc')!.hasError('required')">
                    le nom du Bloc est requis
                  </mat-error>
              </mat-form-field>
              <!-- capacite -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
                >Capacité du bloc</mat-label
              >
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput placeholder="capacite du bloc" formControlName="capaciteBloc" />
                <mat-error *ngIf="blocForm.get('capaciteBloc')!.hasError('required')">
                    la capacite du bloc est requis
                  </mat-error>
              </mat-form-field>
  
              <a  mat-flat-button color="primary" class="w-100"  (click)="onSubmit()" type="submit">
                Ajouter Foyer
              </a>
              <!-- [routerLink]="['/']" tzidha lil bouton -->
            </form>
            
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  

