
<div class="container mb-4">
  <div class="row d-flex justify-content-center">
    <h3 class="col-auto">search </h3>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-md-10 mx-1" appearance="fill">
      <mat-label>numero chambre</mat-label>
      <input matInput [formControl]="chambreSearchTerms" />
      <mat-icon matPrefix>business</mat-icon>
    </mat-form-field>



    <button (click)="performSearch()" class="col-12 col-md-1 search-button mx-lg-1" mat-raised-button color="primary">
      <mat-icon matPrefix>search</mat-icon>
      Search
    </button>
  </div>


 

  <button class="option-button" mat-button [matMenuTriggerFor]="capacite">
    type chambre<mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #capacite="matMenu">
    <button (click)="setTypeChambre('Simple');performSearch()" mat-menu-item>Simple</button>
    <button (click)="setTypeChambre('double');performSearch()" mat-menu-item>Double</button>
    <button (click)="setTypeChambre('triple');performSearch()" mat-menu-item>Triple</button>
  </mat-menu>




</div>
<mat-divider></mat-divider>





<div class="col-12">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <mat-card-title>liste des chambres</mat-card-title>
        <div class="table-responsive m-t-16">
          <table mat-table [dataSource]="dataSource" class="w-100">
            

            <!-- nom foyer Column -->
            <ng-container matColumnDef="numero de la chambre">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              numero de la chambre
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                {{ element.numeroChambre }}
              </td>
            </ng-container>

            <!-- capacite Column -->
            <ng-container matColumnDef="type du chambre">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14"
              >
              type du chambre
              </th>
              <td mat-cell *matCellDef="let element" class="mat-body-1">
                {{ element.typec}}
              </td>
            </ng-container>

           

              <!-- actions Column -->
              <ng-container matColumnDef="actions">
                <th   mat-header-cell
                *matHeaderCellDef
                class="f-w-600 mat-subtitle-1 f-s-14" > Actions</th>
                <td  mat-cell *matCellDef="let element" class="mat-body-1">
                  
                  
                  

                  <button class="mx-2" (click)="openDialog(element)" mat-fab color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
    
    
                  <button class="mx-2" (click)="updateChambre(element.idChambre)" mat-fab color="primary">
                    <mat-icon>update</mat-icon>
                  </button>
    
    
                  <button (click)="deleteChambre(element.idChambre)" mat-fab color="warn">
                    <mat-icon>delete</mat-icon>
                  </button>
                  
                </td>
              </ng-container>
            
         

            

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


